<h3>Atualizar Comunicado</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Validade</label>
      <input type="text" class="form-control" id="dataValidade" required [(ngModel)]="comunicado.dataValidade" name="dataValidade">
    </div>

    <div class="form-group">
        <label for="name">Texto</label>
        <textarea class="form-control" id="texto" required [(ngModel)]="comunicado.texto" name="texto" rows="4"></textarea>
    </div> 

    <button type="submit" class="btn btn-success">Atualizar</button>
  </form>
</div>