
<div class="panel-heading">
    <h2>Evolução das despesas</h2>
</div>
<div class="chart-container">
    <canvas #evolucaoDespesas></canvas>
</div>
<!-- -->
<div class="panel-heading pt-3">
    <h2>Evolução das receitas</h2>
</div>
<div class="chart-container">
    <canvas #evolucaoReceitas></canvas>
</div>
<!-- -->
<div class="panel-heading pt-3">
    <h2>Caixa</h2>
</div>
<div class="chart-container">
    <canvas #caixa></canvas>
</div>
<!-- -->
<div class="panel-heading pt-3">
    <h2>Multas</h2>
</div>
<div class="chart-container">
    <canvas #multas></canvas>
</div>
<!-- -->