<h3>Nova Receita</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Descrição</label>
      <input type="text" class="form-control" id="descricao" required [(ngModel)]="receita.descricao" name="descricao">
    </div>

    <div class="form-group">
        <label for="name">Data</label>
        <input type="text" class="form-control" id="dataReceita" required [(ngModel)]="receita.dataReceita" name="dataReceita" mask="d0/M0/0000">
      </div>
  
      <div class="form-group">
        <label for="name">Valor</label>
        <input type="text" class="form-control" id="valor" required [(ngModel)]="receita.valor" name="valor">
      </div>

    <button type="submit" class="btn btn-success">Adicionar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Adição realizada com sucesso!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>