<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    Registre-se
                                </h3>
                            </div>
                            <div class="card-body">
                                <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                    <div class="form-group">
                                        <label for="displayName">Nome</label> 
                                        <input type="text" class="form-control" name="displayName" [(ngModel)]="form.displayName" required minlength="3" maxlength="20" #displayName="ngModel" />
                                        <div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
                                            <div *ngIf="displayName.errors.required">O Nome é obrigatório</div>
                                            <div *ngIf="displayName.errors.minlength">O Nome precisa ter no mínimo 3 caracteres</div>
                                            <div *ngIf="displayName.errors.maxlength">O nome pode ter no máxio 20 caracteres</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label> <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                                        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                                            <div *ngIf="email.errors.required">Email é obrigatório</div>
                                            <div *ngIf="email.errors.email">Email inválido</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Senha</label> <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                                            #password="ngModel" />
                                        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                            <div *ngIf="password.errors.required">Senha é obrigatória</div>
                                            <div *ngIf="password.errors.minlength">Senha precisa ter 6 caracteres</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="matchingPassword">Confirmar Senha</label> <input type="password" class="form-control" name="matchingPassword" [(ngModel)]="form.matchingPassword"
                                            required minlength="6" #matchingPassword="ngModel" />
                                        <div class="alert-danger" *ngIf="f.submitted && matchingPassword.invalid">
                                            <div *ngIf="matchingPassword.errors.required">Confirmação da senha é obrigatório</div>
                                            <div *ngIf="matchingPassword.errors.minlength">Confirmação da senha precisa ter 6 caracteres</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block">Cadastrar</button>
                                    </div>
                                    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                        O cadastro fallhou!<br />{{ errorMessage }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>